.container{
    padding: 0 !important;
    margin-top: 3rem;

    .gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .col-4{
            width: calc((100% / 12) * 4 - 1rem);
        }
    }
}
